body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.bacground-intro {
    background-image: url("img/bg.jpg");
    object-fit: contain;
}

.intro h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 440px;
  text-align: center;
}

a {
  text-decoration: none;
}

.main-navigation{

}

.site-navigation,
.social-list,
.advantage-list,
.more-advantages {
  list-style: none;
  font-weight: bold;
}

.site-navigation a,
.footer-social a,
.social-list,
.button-copyright{
  color: #000000;
}

.site-navigation a:hover,
.footer-social a:hover,
.detailed-buttom {
color: #81b3d2;
}

.site-navigation a:focus,
.footer-social a:focus{
  color: rgba(0, 0, 0, 0.3);
}

.font-weight-normal {
  font-weight: normal;
}

.detailed-buttom,
.book-buttom {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
}

.detailed-buttom {
  background-color: #81b3d2;
}

.detailed-buttom:hover {
  background-color: #669ec0;
}

.detailed-buttom:focus {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book-buttom {
  background-color: #766357;
}

.book-buttom:hover {
  background-color: #604e43;
}

.book-buttom:focus{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotels-amara h2,
.hotels-desert h2,
.hotels-villas h2 {

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

}

.interested h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.search-hotels {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
}

.form-back {
  display: none;
}

.main-footer{
  background-image: url("img/map.jpg");
}
