body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.bacground-intro {
    background-image: url("img/bg.jpg");
    object-fit: contain;
}


a {
  text-decoration: none;
}

.main-navigation{

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover{
color: #81b3d2;
}
.site-navigation a:focus{
  color: rgba(0, 0, 0, 0.3);
}

.advantage-list{
  list-style: none;
}
.more-advantages{
  list-style: none;
}

.form-back {
  display: none;
}

.main-footer{
  background-image: url("img/map.jpg");
}

.social-list{
  list-style: none;
}

.footer-social a {
  color: #000000;
}

.footer-social a:hover{
  color: #81b3d2;
}

.footer-social a:focus{
  color: rgba(0, 0, 0, 0.3);
}

.button-copyright{
  color: #000000;
}
