body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-navigation{

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover{
color: #81b3d2;
}
.site-navigation a:focus{
  color: rgba(0, 0, 0, 0.3);
}


.detailed-buttom,
.book-buttom {
  font-size: 14px;
  color: #ffffff;
  width: 110px;
  height: 27px;
}

.detailed-buttom {
 background-color: #81b3d2;
}
