body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.main-navigation{

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover{
color: #81b3d2;
}
.site-navigation a:focus{
  color: rgba(0, 0, 0, 0.3);
}


.detailed-buttom,
.book-buttom {
  font-size: 14px;
  color: #ffffff;
}

.detailed-buttom {
 background-color: #81b3d2;
}

.book-buttom {
  background-color: #766357;
}

.footer-social ul {
  list-style:none;
}

.social-button {
  color: #000000;
}

.social-button:hover{
color: #81b3d2;
}

.social-button:focus{
  color: rgba(0, 0, 0, 0.3);
}
